* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.binary-code {
    font-size: 15px;
    color: #00ff00;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: auto;
    animation: binaryAnimation 1000000s step-end infinite;
}
@keyframes binaryAnimation {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }
    100% {
        transform: translateX(-50%) translateY(100%);
    }
}